.description-product {
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.description-product>.title {
    font-size: 25px;
    margin-bottom: 50px;
}

.description-product>.cont-star {
    margin-bottom: 25px;
}

.description-product>.cont-star .star {
    margin-right: 8px;
    cursor: pointer;
    width: 24px;
    height: 25px;
    display: inline-block;
}

.description-product>.cont-star .star:hover {
    transform: scale(1.2);
    transition: 300ms linear;
}

.description-product>.cont-star .star {
    background-image: url("../img/star.png");
    width: 24px;
    height: 25px;
}

.description-product>.cont-star .star.-active {
    background-image: url("../img/star-full.png");
    width: 24px;
    height: 25px;
}

.description-product>.item {
    font-size: 20px;
    margin-bottom: 28px;
}

.description-product>.item.-info {
    width: 200px;
    text-align: right;
}

.description-product>.item.-last {
    margin-bottom: 72px;
}

.description-product .contrast {
    text-transform: uppercase;
    float: left;
}

.description-product>.text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.description-product>.text.-more {
    margin-bottom: 0;
}

.description-product .action {
    color: inherit;
    text-decoration: none;
}

.description-product figure.-heart {
    position: absolute;
    left: -65px;
    top: 8px;
    cursor: pointer;
    transform: scale(1);
    transition: 300ms linear;
    background: url("../img/heart.png") no-repeat;
    width: 34px;
    height: 29px;
}

.description-product figure.-heart:hover {
    transform: scale(1.1);
    transition: 300ms linear;
}

.description-product figure.-heart.-active {
    background: url("../img/heart-active.png") no-repeat;
}

@media (max-width:1320px) {
    .description-product figure.-heart {
        left: 0;
        top: 31px;
    }
    .description-product {
        padding-top: 3vh;
    }
    .description-product>.item.-last {
        margin-bottom: 30px;
    }
    .description-product>.text {
        margin-bottom: 30px;
    }
    .description-product>.cont-star {
        float: left;
        margin-right: 4px;
    }
    .description-product>.title {
        text-align: center;
        font-size: 30px;
    }
}

@media (max-width:475px) {
    .description-product>.item.-heart {
        position: static;
    }
    .description-product figure.-heart {
        top: 70px;
    }
}